@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100vh; */
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 208 85% 49%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;

    /* -----------------------------------------------------------------*/

    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    /* --gradient: linear-gradient(to top left, #12c2e9, #c471ed, #f64f59);

    --background: 203 55.25% 3.92%;
    --foreground: 203 8.5% 97.45%;

    --muted: 203 42.5% 14.7%;
    --muted-foreground: 203 8.5% 54.9%;

    --popover: 203 48% 6.37%;
    --popover-foreground: 203 8.5% 97.45%;

    --card: 203 48% 6.37%;
    --card-foreground: 203 8.5% 97.45%;

    --border: 203 42.5% 14.7%;
    --input: 203 42.5% 14.7%;

    --primary: 208 85% 49%;
    --primary-foreground: 208 8.5% 4.9%;

    --secondary: 203 42.5% 14.7%;
    --secondary-foreground: 203 8.5% 97.45%;

    --accent: 203 42.5% 14.7%;
    --accent-foreground: 203 8.5% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 203 8.5% 97.45%;

    --ring: 203 85% 49%; */
  }

  .dark {
    --background: 220 65% 3.52%;
    --foreground: 220 10% 97.2%;

    --muted: 220 50% 13.2%;
    --muted-foreground: 220 10% 54.4%;

    --popover: 220 45% 5.72%;
    --popover-foreground: 220 10% 97.2%;

    --card: 220 45% 5.72%;
    --card-foreground: 220 10% 97.2%;

    --border: 220 50% 13.2%;
    --input: 220 50% 13.2%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 220 50% 13.2%;
    --secondary-foreground: 220 10% 97.2%;

    --accent: 220 50% 13.2%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;

    /*-------------------------------------------------------------*/

    /*    
    --gradient: #f7f8f8;

    --background: 191 4.550000000000001% 7.76%;
    --foreground: 191 0.7000000000000001% 99.85%;

    --muted: 191 3.5000000000000004% 29.099999999999998%;
    --muted-foreground: 191 0.7000000000000001% 59.7%;

    --popover: 191 63.6% 12.61%;
    --popover-foreground: 191 0.7000000000000001% 99.85%;

    --card: 191 63.6% 12.61%;
    --card-foreground: 191 0.7000000000000001% 99.85%;

    --border: 191 3.5000000000000004% 29.099999999999998%;
    --input: 191 3.5000000000000004% 29.099999999999998%;

    --primary: 191 7% 97%;
    --primary-foreground: 191 0.7000000000000001% 9.7%;

    --secondary: 191 3.5000000000000004% 29.099999999999998%;
    --secondary-foreground: 191 0.7000000000000001% 99.85%;

    --accent: 191 3.5000000000000004% 29.099999999999998%;
    --accent-foreground: 191 0.7000000000000001% 99.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 191 0.7000000000000001% 99.85%;

    --ring: 191 7% 97%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
